body{
    background-color: rgb(64, 64, 64);
}
.Link{
    color: white;
    text-decoration: none;
}
.Link:visited{
    color: white;
    text-decoration: none;
}

::-webkit-scrollbar {
    display: none;
}